* {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  border: 1px dashed #666;
  height: 600px;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* flex-start | flex-end | center | space-between | space-around | space-evenly */
  align-content: space-between; /* flex-start | flex-end | center | space-between | space-around | stretch */
}

.wrapper div {
  background: #eee;
  border: 1px solid #666;
  padding: 1em;
  text-align: center;
  flex-basis:33%; 
  height:23%;
}
